# ignore cuz its too big to be on github, everything in here is in WebGL.zip
StreamingAssets/aa/WebGL/packed-animations-cutscene_assets_all_6088ab681e63b034a1b602249209347d.bundle
StreamingAssets/aa/WebGL/packed-animations-effects_assets_all_9aab0f3b6b8f8c05cd2d618598948eea.bundle
StreamingAssets/aa/WebGL/packed-animations-hornetenemies_assets_all_9f3d5906ad5a54b6c762e508aea802c3.bundle
StreamingAssets/aa/WebGL/packed-animations-hornetnpcs_assets_all_b07b6c9740de43a1fa7c0ceef545d3a9.bundle
StreamingAssets/aa/WebGL/packed-animations-hornet_assets_all_df96eceebcc563fac0a4c4d756348ec8.bundle
StreamingAssets/aa/WebGL/packed-animations-props_assets_all_4d32c5a2554f1011290a2a758b19c15d.bundle
StreamingAssets/aa/WebGL/packed-audio-hornetmusic_assets_all_d7258aa531c7adbb862ab1f75c0a4758.bundle
StreamingAssets/aa/WebGL/packed-audio-hornetvoices_assets_all_6253ed781850c4087eb825002e1b63a0.bundle
StreamingAssets/aa/WebGL/packed-audio-sfx_assets_all_64a9c47145f1a68e9023751b5a4c32dd.bundle
StreamingAssets/aa/WebGL/packed-audio-voices_assets_all_4e4d5ad29d42bd4abdd5eadfce410be2.bundle
StreamingAssets/aa/WebGL/packed-cinematics_assets_all_5ec2ac5cfb98b69438cb91f6e253bbbc.bundle
StreamingAssets/aa/WebGL/packed-collections_assets_all_40fc2899a4bf13e2fdf4877fac117bfe.bundle
StreamingAssets/aa/WebGL/packed-fonts_assets_all_80af17da7b187150e3e4ec5346115b67.bundle
StreamingAssets/aa/WebGL/packed-prefabs_assets_all_b19c0cf6b825f4cf18264a6c8f5765a6.bundle
StreamingAssets/aa/WebGL/packed-scenes-hornet_scenes_all_c907e217c56bc36e9412cc713b6511b0.bundle
StreamingAssets/aa/WebGL/packed-sprites-effects_assets_all_2e7bed7c909427b371b79d647bf138ee.bundle
StreamingAssets/aa/WebGL/packed-sprites-hero_assets_all_038a432da5e4c2c15b9327d215fd7f32.bundle
StreamingAssets/aa/WebGL/packed-sprites-hornet_bosses_assets_all_4e40e4fa5157ac9fa9cbb2b12d9205fd.bundle
StreamingAssets/aa/WebGL/packed-sprites-hornet_enemies_assets_all_1dc5e3e9aee3b4d2599cfacc771aa715.bundle
StreamingAssets/aa/WebGL/packed-sprites-scenery_assets_all_39cc8fd6577083e676edf1e1a61fcaa9.bundle
StreamingAssets/aa/WebGL/packed-sprites-ui_assets_all_f9a8ef56ecdd0a4b95785438aefb0b1a.bundle